@model Videoteka.Models.Movie
<form asp-action="Delete" class="d-inline" onsubmit="return confirm('Opravdu chcete smazat film @(Model.Title)?');">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Smazat" class="btn btn-danger btn-sm" />
</form>